.App {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
}

.Logout {
  display: flex;
  vertical-align: top;
  align-items: center;
  text-align: center;
  justify-content: center;
  
}
